# 1.3.1 Preparation for ITOL

Author: Sandra Godinho Silva \
Most updated version: 0.2 from 25/09/2020

In [30]:
import pandas as pd

In [31]:
#tree_newick = pd.read_csv("mashtree.dnd", sep="\t")
#tree_newick.head()

In [32]:
metrics = pd.read_csv("../../1_Dataset_creation/Dataset.csv")
metrics.head(2)

,Genome_ID,Bin_Id,Marker lineage,Completeness,Contamination,Strain_heterogeneity,Quality_score,classification,Domain,Phyla,...,scaf_L90,ctg_N90,ctg_L90,scaf_max,ctg_max,scaf_n_gt50K,scaf_pct_gt50K,gc_avg,gc_std,Classification_quality
0,GCA_000016645.1,GCA_000016645.1_ASM1664v1_genomic,f__Flavobacteriaceae (UID2817),99.65,0.14,0.0,98.95,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...,Bacteria,Bacteroidota,...,6096872,1,6096872,6096872,6096872,1,100.0,0.34113,0.0,Medium
1,GCA_000023285.1,GCA_000023285.1_ASM2328v1_genomic,p__Bacteroidetes (UID2605),100.00,0.00,0.0,100.00,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...,Bacteria,Bacteroidota,...,2612925,1,2612925,2612925,2612925,1,100.0,0.39588,0.0,Medium

In [33]:
species =metrics[["Genome_ID", "Species"]]
species.head(2)

         Genome_ID                    Species
0  GCA_000016645.1  Flavobacterium johnsoniae
1  GCA_000023285.1    Capnocytophaga ochracea

In [34]:
genus =metrics[["Genome_ID", "Genus"]]
genus.head(2)

         Genome_ID           Genus
0  GCA_000016645.1  Flavobacterium
1  GCA_000023285.1  Capnocytophaga

In [35]:
family =metrics[["Genome_ID", "Family"]]
family.head(2)

         Genome_ID             Family
0  GCA_000016645.1  Flavobacteriaceae
1  GCA_000023285.1  Flavobacteriaceae

# Value counts by taxonomy

In [36]:
metrics.Domain.value_counts()

Bacteria    2680
Name: Domain, dtype: int64

In [37]:
metrics.Genus.value_counts()

Flavobacterium      589
Chryseobacterium    294
Elizabethkingia     193
Capnocytophaga       75
Tenacibaculum        68
                   ...
PDQE01                1
Ochrovirga            1
Algibacter_C          1
Sediminicola          1
Bin25                 1
Name: Genus, Length: 175, dtype: int64


# Code colors for ITOL

## Family

In [39]:
filt = (metrics.Family == "Flavobacteriaceae")
f_Flavobacteriaceae = metrics.loc[filt]
f_Flavobacteriaceae2 = f_Flavobacteriaceae.copy()
f_Flavobacteriaceae2.loc[:,"name"] = "Flavobacteriaceae"
f_Flavobacteriaceae2.loc[:,("color")] = ("#648FFF")     ##3274a1
f_F2 = f_Flavobacteriaceae2[["Genome_ID", "color", "name"]]
f_F2.head(2)

         Genome_ID    color               name
0  GCA_000016645.1  #648FFF  Flavobacteriaceae
1  GCA_000023285.1  #648FFF  Flavobacteriaceae

In [40]:
filt = (metrics.Family == "Weeksellaceae")
f_Weeksellaceae = metrics.loc[filt]
f_Weeksellaceae2 = f_Weeksellaceae.copy()
f_Weeksellaceae2["color"] = "#785EF0"  ##e1812c
f_Weeksellaceae2["name"] = "Weeksellaceae"
f_W2 = f_Weeksellaceae2[["Genome_ID", "color", "name"]]
f_W2.head(2)

         Genome_ID    color           name
3  GCA_000023725.1  #785EF0  Weeksellaceae
7  GCA_000143785.1  #785EF0  Weeksellaceae

In [41]:
frames = [f_F2, f_W2]
family_colors = pd.concat(frames, keys=['Genome_ID', 'color', 'name'])
family_colors = family_colors.reset_index().drop(columns=["level_0","level_1"])
family_colors.head(2)

         Genome_ID    color               name
0  GCA_000016645.1  #648FFF  Flavobacteriaceae
1  GCA_000023285.1  #648FFF  Flavobacteriaceae

In [42]:
family_colors.to_csv("family_colors.tsv", sep=" ", header=False, index=False)


## Genus

In [43]:
import matplotlib.pyplot as plt
import random

number_of_colors = 175
color = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])
             for i in range(number_of_colors)]
print((color))

['#D8DD9A', '#161A09', '#87A75B', '#BD200F', '#10DF31', '#8354C7', '#A232FF', '#A2A230', '#CD1054', '#A24236', '#6D8240', '#2CB0B3', '#6DDD30', '#5518A7', '#773D38', '#952772', '#1CE83A', '#C58FBC', '#A6DEC7', '#6BF4CB', '#316662', '#6809EA', '#AE5F83', '#748FED', '#074C03', '#370DD1', '#0162DB', '#56CA38', '#C7B28E', '#8B57EE', '#26FC28', '#07D91A', '#EEAB98', '#ABDD7A', '#A2066D', '#F5212D', '#C46D16', '#B65591', '#B5614F', '#8DA335', '#A3E1DE', '#7822DB', '#1278E8', '#452B74', '#F62187', '#8F7513', '#64F7AE', '#FD59CC', '#3D669C', '#70C9B0', '#36E3E7', '#523236', '#503785', '#8D3A01', '#E1BA20', '#F3CDF2', '#F08FA2', '#62B2FF', '#C32CB6', '#690FE8', '#5402BD', '#594E5A', '#F62CA7', '#741250', '#3D0EA6', '#548FDA', '#FEFB1A', '#AB9927', '#243A0A', '#B1DA35', '#FE083F', '#E5F967', '#4BBAEA', '#840A7F', '#E25F29', '#2574BB', '#51817D', '#4C8929', '#A67AA7', '#B2DE62', '#BFDB68', '#C22478', '#2DED75', '#5318F5', '#EB74A5', '#E41865', '#95F4E7', '#3A4D14', '#B7C79B', '#F20804', '#C1DEF9', '#0E9D50', '#BA04F2', '#49CC7F', '#FF3076', '#2B6E43', '#5416C7', '#5FA8EB', '#0E4605', '#67EAE1', '#70CC4F', '#F7E738', '#7D1382', '#FF3FF0', '#A95066', '#C5E3F2', '#C9E2C7', '#02870D', '#7A62F0', '#A7B9FE', '#46FC4C', '#7A1C66', '#0B1F46', '#3D406F', '#FF710D', '#31BA94', '#293F83', '#59E921', '#78D0EB', '#136CCA', '#D32C58', '#05202C', '#B24456', '#B62813', '#FD41BD', '#B49BE5', '#BC912C', '#E49FF0', '#4AA1E8', '#A16934', '#5F2405', '#124F8E', '#67B29F', '#4AF552', '#F8E2A4', '#C4678A', '#6420FB', '#C508EF', '#B2F9A8', '#E0657D', '#DF2B88', '#219000', '#A60A21', '#666305', '#758D54', '#C5EF56', '#22495E', '#0D2847', '#53465D', '#778517', '#3509A5', '#950B0A', '#50AFE9', '#C3BBF8', '#F341B6', '#469275', '#AED609', '#AF0B7E', '#D33DAD', '#E521F1', '#1F98A2', '#9CAC8F', '#F699E2', '#DEE232', '#AA5C85', '#D7CFE5', '#273795', '#345C02', '#C4DC4B', '#F3D7D4', '#7BA06E', '#3C8433', '#CF2C08', '#947628', '#C8E633']

In [44]:
i_want_hue_65 = ["#af309e",
"#66c144",
"#a95cdc",
"#3dd47e",
"#d96be5",
"#43b85d",
"#7b43ba",
"#a7bc38",
"#5376ee",
"#609a23",
"#8f75e5",
"#d5b236",
"#4757be",
"#d98b2e",
"#5a89e0",
"#c44016",
"#4cd2c3",
"#e52f66",
"#4fc48f",
"#da4cb0",
"#3d9341",
"#c27ce4",
"#397327",
"#ea4890",
"#81be6d",
"#bc2d74",
"#3b8f5f",
"#df80d6",
"#727a21",
"#8d499c",
"#a39733",
"#9276c0",
"#535e0f",
"#aea2e7",
"#e96b39",
"#3fbecb",
"#e44a4d",
"#36a18a",
"#b6302a",
"#369bc5",
"#d74b65",
"#7bbd94",
"#a7325e",
"#71934c",
"#d768a1",
"#306a3c",
"#d890c2",
"#1a6447",
"#ee8694",
"#368166",
"#b4454d",
"#64a9e2",
"#aa502d",
"#5064a3",
"#b1b86d",
"#9f5d91",
"#526229",
"#8f4667",
"#d1a562",
"#994a4e",
"#807a45",
"#c36d79",
"#8c681f",
"#e68e6f",
"#9e693d"]

In [45]:
genus_reduced = genus.groupby(["Genus"]).filter(lambda x:x["Genus"].count()>7)
genus_list_reduced = genus_reduced["Genus"].unique()

In [46]:
genus_list = genus["Genus"].unique()

In [47]:
d={}
i=0
for g in genus_list_reduced:
    d[g] = i_want_hue_65[i]
    i+=1

In [48]:
df = pd.DataFrame.from_dict(d, orient='index')
df = df.reset_index()
df.columns = ["index", "color"]
df.head(2)

            index    color
0  Flavobacterium  #af309e
1  Capnocytophaga  #66c144

In [49]:
merge_genus = pd.merge(genus, df, how="left", left_on="Genus", right_on="index").drop(columns="index")
merge_genus["color"] =merge_genus["color"].fillna("#000000")
merge_genus = merge_genus[["Genome_ID", "color", "Genus"]]
merge_genus.head()

         Genome_ID    color           Genus
0  GCA_000016645.1  #af309e  Flavobacterium
1  GCA_000023285.1  #66c144  Capnocytophaga
2  GCA_000023465.1  #a95cdc    Zunongwangia
3  GCA_000023725.1  #3dd47e       Kaistella
4  GCA_000024125.1  #000000   Robiginitalea

In [50]:
count = merge_genus.groupby(['Genus']).count().sort_values(by="Genome_ID",ascending=False).reset_index()
#print(count) 
genus_ordered = count["Genus"].to_list()
print(*genus_ordered[0:15], sep= " ")

Flavobacterium Chryseobacterium Elizabethkingia Capnocytophaga Tenacibaculum Riemerella Polaribacter Winogradskyella Muricauda Myroides Kaistella Maribacter Empedobacter Aequorivita Aquimarina

In [51]:
l_colors=[]
for i in genus_ordered[0:15]:
    l_colors.append(d[i])
print(*l_colors, sep =' ')

#af309e #43b85d #c27ce4 #66c144 #aea2e7 #c44016 #a7bc38 #4757be #3d9341 #397327 #3dd47e #3fbecb #df80d6 #81be6d #4fc48f

In [52]:
merge_genus.to_csv("genus_colors.tsv", sep=" ", header=False, index=False)

# Metadata

In [53]:
metadata = pd.read_csv("../../2_Metadata/Metadata_final.csv")

In [54]:
origin = metadata[["Assembly accession","Origin"]]
origin.head()

  Assembly accession        Origin
0    GCA_000016645.1    Non_marine
1    GCA_000023285.1    Non_marine
2    GCA_000023465.1  Unclassified
3    GCA_000023725.1    Non_marine
4    GCA_000024125.1  Unclassified

In [55]:
filt = (origin.Origin == "Marine")
marine = origin.loc[filt]
marine = marine.copy()
marine.loc[:,"name"] = "Marine"
marine.loc[:,("color")] = ("#101070")
marine = marine[["Assembly accession", "color", "name"]]
marine.head(2)

   Assembly accession    color    name
8     GCA_000152925.3  #101070  Marine
25    GCA_000186265.1  #101070  Marine

In [56]:
filt = (origin.Origin == "Non_marine")
non_marine = origin.loc[filt]
non_marine = non_marine.copy()
non_marine.loc[:,"name"] = "Non marine"
non_marine.loc[:,("color")] = ("#2f7e2f")
non_marine = non_marine[["Assembly accession", "color", "name"]]
non_marine.head(2)

  Assembly accession    color        name
0    GCA_000016645.1  #2f7e2f  Non marine
1    GCA_000023285.1  #2f7e2f  Non marine

In [57]:
filt = (origin.Origin == "Unclassified")
unclassified = origin.loc[filt]
unclassified = unclassified.copy()
unclassified.loc[:,"name"] = "Unclassified"
unclassified.loc[:,("color")] = ("#9c9c9e")
unclassified = unclassified[["Assembly accession", "color", "name"]]
unclassified.head(2)

  Assembly accession    color          name
2    GCA_000023465.1  #9c9c9e  Unclassified
4    GCA_000024125.1  #9c9c9e  Unclassified

In [58]:
frames = [marine, non_marine, unclassified]
origin_colors = pd.concat(frames, keys=['Assembly accession', 'color', 'name'])
origin_colors = origin_colors.reset_index().drop(columns=["level_0","level_1"])
origin_colors.head(2)

  Assembly accession    color    name
0    GCA_000152925.3  #101070  Marine
1    GCA_000186265.1  #101070  Marine

In [59]:
origin_colors.to_csv("origin_colors.tsv", sep=" ", header=False, index=False)

In [60]:
metadata["MAG"].value_counts()

False    1988
True      692
Name: MAG, dtype: int64

In [61]:
mag = metadata[["Assembly accession","MAG"]]
d = {True:"MAG", False:"Genome"}
mag['MAG'] = mag['MAG'].map(d)
mag.head()

<ipython-input-61-26ccb473e2d8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mag['MAG'] = mag['MAG'].map(d)

  Assembly accession     MAG
0    GCA_000016645.1  Genome
1    GCA_000023285.1  Genome
2    GCA_000023465.1  Genome
3    GCA_000023725.1  Genome
4    GCA_000024125.1  Genome

In [62]:
mag["color"] =["#dd9700" if  str(x) == "MAG" else "#00d89d" for x in mag['MAG']]
mag = mag[["Assembly accession", "color", "MAG"]]
mag.head(2)

<ipython-input-62-e734077a96a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mag["color"] =["#dd9700" if  str(x) == "MAG" else "#00d89d" for x in mag['MAG']]

  Assembly accession    color     MAG
0    GCA_000016645.1  #00d89d  Genome
1    GCA_000023285.1  #00d89d  Genome

In [63]:
mag.to_csv("mag_colors.tsv", sep=" ", header=False, index=False)